body {
    color: #333;
    background-color: #ECFADE;
    font: normal 11pt verdana, arial, sans-serif;
    margin: 0; padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: georgia, serif;
    font-weight: normal;
    text-align: center;
    margin: 0;
}

h1 span {
    color: #999;
}

/* overall background and images */
#doorway {
    background: white url(/static/images/doorway-tile.png);
    width: 638px;
    margin: 10px auto;
}
#page {
    background: url(/static/images/doorway-jam.png) no-repeat bottom left;
    padding: 0px 5px 0px 5px;
}
#footer {
    padding: 0px 5px 20px 5px;
}

/* styling of doorway controls */
#doorway .control {
    font-size: 11px;
    list-style: none;
    padding: 8px;
    margin: 0px 15px;
    border: solid 1px #e9a;
    background-color: #fff8f2;
}

#doorway .control .doorway {
    background: url(/static/icons/door.png) no-repeat;
}

#doorway .control .apps {
    background: url(/static/icons/ruby.png) no-repeat;
}

#doorway .control .data {
    background: url(/static/icons/database.png) no-repeat;
}

#doorway .control .help {
    background: url(/static/icons/lightbulb.png) no-repeat top right;
    float: right;
    margin-top: -2px;
}

#doorway .control a {
    padding: 0px 6px 0px 20px;
    text-decoration: none;
    color: #c30;
    font-weight: bold;
}

#doorway .control a:hover {
    color: #6a3;
}

#doorway .help a {
    padding: 0px 20px 0px 6px;
}

#doorway .control li {
    display: inline;
    margin: 2px;
    padding: 2px;
    /* border-right: solid 1px #ebc; */
}

#doorway .control li input {
    border: solid 1px black;
}

#doorway .scripts {
    padding: 10px 20px;
}

#doorway .scripts .title {
    font-size: 21px;
}

#doorway .scripts .mount {
    font-size: 12px;
    background-color: #eee;
    padding: 2px;
}

#doorway .doorblock {
    border: solid 1px #df5;
}

#doorway .doorblock .title {
    margin: 1px;
    padding: 4px;
    background-color: #efa;
}

#doorway .doorblock .title h1,
#doorway .doorblock .title h2,
#doorway .doorblock .title h3,
#doorway .doorblock .title h4,
#doorway .doorblock .title h5,
#doorway .doorblock .title h6
{
    display: inline;
}

#doorway .doorblock h1 {
    font-size: 19px;
    color: #353;
    text-align: left;
}

#doorway .doorblock h2 {
    font-size: 13px;
    color: #797;
    text-align: left;
}
